.list {
  list-style: none;
  padding-left: 0;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;

  border: 1px solid grey;

  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.btn {
  width: 70px;
  height: 23px;
  font-weight: 700;
  color: white;
  background-color: #03a1fc;
  border: transparent;
  border-radius: 5px;
  margin-left: 8px;
  cursor: pointer;
  &:hover {
    color: blue;
  }
}
