.section {
    padding-top: 30px;
  }
  
  .form {
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
  
    margin-right: auto;
    margin-left: auto;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input {
    display: block;
    width: 180px;
  
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  
  .btn {
    margin-bottom: 15px;
  }
  