.form {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  text-align: center;
}

.label {
  display: block;
}

.field {
  margin-bottom: 10px;
}

.btn {
  display: block;
  width: 95px;
  height: 23px;
  margin-bottom: 15px;
  font-weight: 700;
  color: white;
  background-color: #03a1fc;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    color: blue;
  }
}

.btnContainer {
  display: flex;
  justify-content: center;
}